:root{
  --accent: #BA6FEC;
  --dark: #161921;
  --transparent_dark: rgba(22, 25, 33,.8);
  --empty: rgba(22, 25, 33,0);

}

html{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--dark);
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}



.error_text{
  font-family: Sans-serif;
  color: red;
  text-align: center; 
}


.global-div{
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
}

.draggingList{
  font-family:sans-serif;
  background-color: #161921;
  color: #BA6FEC;
  border: 4px solid #BA6FEC; /* Green */
  font-size: 30px;
  border-radius: 20px;
  text-align: center;
}

.draggingList-table{
  text-align: center;
}

.draggingItem{
  font-family:sans-serif;
  background-color: #161921;
  color: #BA6FEC;
  border: 4px solid #BA6FEC; /* Green */
  font-size: 30px;
  border-radius: 20px;
  text-align: center;

}

.recentEntry {
  background-color: 161921;
}
.recentEntry:hover {
  background-color: #393f50;
}

.selectedRecentEntry {
  background-color: #4f3263;
}
.selectedRecentEntry:hover {
  background-color: #6f4888;
}